---
layout: default
title: sammywn.com
subtitle: some thoughts and ideas
logo: logo.gif
---

{% include navheader.html %}


<div class="wrapper">
 <h3>Welcome to the website of Sammy Weiser Novak. </h3>
 <p>I work as a microscopy specialist at the Salk Institute for Biological Studies in La Jolla California. I have been focusing on 3D electron microscopy (3DEM) sample preparation, imaging, and analysis techniques. </p>
 <p>This personal website presently serves as an informal repository of links, drafts of blog posts in various states of completion, and other fun content. </p>
 <p>Read more <a href="about/about.html">about me here</a>. </p>
</div>

<nav id="filter-bar" class="navbar navbar-filters">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#filters" aria-expanded="false">
        <span class="sr-only">Toggle filters</span>
        <span class="pull-left">
          <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </span>
        <span class="pull-right">
          Filter
        </span>
      </button>
      <span class="navbar-brand" href="#">Filter By:</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="filters" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a class="js-filter current" data-filter="*">All</a></li>
        <li><a class="js-filter" data-filter=".microscopy">Microscopy</a></li>
        <li><a class="js-filter" data-filter=".culture">Culture</a></li>
        <li><a class="js-filter" data-filter=".coastal">Coastal</a></li>
      </ul>
      <ul class="nav pull-right navbar-nav resume">
        <li>
          <!--<a href="{{ site.baseurl }}/resume">Resume</a>-->
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="filter-focus"></div>

<div id="loading" class="text-center">
  <p>Loading...</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="allcards">

        <!-- Intro Cards -->
        {% include static-cards/about.html %}

        <!-- Main Cards -->
        {% assign cards = site.cards | sort: 'item_sort' %}
        {% for card in cards %}
          {% include card-template.html %}
        {% endfor %}

      </div>

      <div class="landing-cta">
        <!-- <p>Looking for a traditional resume? <a href="/resume">Here you go</a></p> -->
      </div>
    </div>
  </div>
</div>

