
<div class="eachcard col-xs-12 col-sm-6 col-md-4 col-lg-3">
  
  <div class="card-wrapper">
    <div class="card-image"><a href="{{ site.baseurl }}about/about.html">
      <img src="/images/pipes.jpg" width="200" /></a>
    </div>

    <div class="card-header">
      About Sammy
    </div>
    
    <div class="card-body">
      <p>I am living in San Diego, working at the Salk Institute, surfing north county, playing Jobim on guitar and Donny Hathaway on keyboards.</p>
      <p>This links to a list of books I have enjoyed and eventually some more personal blog posts.</p>
    </div>


    <div class="card-footer">
      <small>
        <ul class="list-inline">
          <li><a class="card-tags js-filter" data-filter=".About">#About</a></li>
        </ul>
      </small>
    </div>
  </div><!-- eachpost div -->

</div>
