<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chad Kruse | Resume</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/resume.css" type="text/css" media="all" />
  </head>
  <body>
    <div id="body-wrapper">
       

            <div class="card-image">
              {% if page.image_href %}
                <a href="{{ page.image_href }}" target="_blank"><img src="/images/{{ page.image }}"/></a>
              {% else %}
                <img src="/images/{{ page.image }}"/>
              {% endif %}
            </div>
          
            <div class="card-header">
              {{ page.header }}
            </div>
          
            <div class="card-body">
              {{ page.content }}
            </div>
          
            <div class="card-footer">
              <small>
                <ul class="list-inline">
                  {% for each in page.tags %}
                    <li><a class="card-tags" href="">#{{ each }}</a></li>
                </ul>
              </small>
            </div>
          

    </div>
    {% include body-scripts.html %}
  </body>
</html>
